.season {
	background: #f4f4f4;
	border: 1px solid #e4e4e4;
	margin: 1%;
	padding: 0 20px 20px 20px;
}
.magicbg_preview {
	padding: 3px; 
	border: 1px solid #f0f0f0; 
	max-height: 100px; 
	overflow: hidden;
	float: left;
	display: inline;
	margin-right: 20px;
}
.magicclear {
	clear: both;
}
.nospecial {
	width: 160px;
	height: 100px;
	background: #f4f4f4;
	float: left;
	display: inline;
	margin-right: 20px;
}










